<nav>
    <div class="site-title">
      <a href="/"><h1>Blog BY MuK</h1></a>
      <p>EveryThing other Than Enginnering</p>
    </div>
    <ul>
      
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>

  <!-- <html lang="en">
    <%- include('./partials/head.ejs')%>



<body>

    <%- include('./partials/nav.ejs')%> 



    <div class="about content">

        <h2>About</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin nisi eros, fringilla congue nunc efficitur vel. Maecenas a suscipit enim. Cras vel tortor sem. Etiam sit amet tempor turpis. Donec et urna ex. Curabitur ut augue arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis hendrerit, lacus non aliquam sagittis, dui odio tristique felis, sit amet consequat elit neque nec justo. Nulla id viverra est, sit amet efficitur neque.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin nisi eros, fringilla congue nunc efficitur vel. Maecenas a suscipit enim. Cras vel tortor sem. Etiam sit amet tempor turpis. Donec et urna ex. Curabitur ut augue arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis hendrerit, lacus non aliquam sagittis, dui odio tristique felis, sit amet consequat elit neque nec justo. Nulla id viverra est, sit amet efficitur neque.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin nisi eros, fringilla congue nunc efficitur vel. Maecenas a suscipit enim. Cras vel tortor sem. Etiam sit amet tempor turpis. Donec et urna ex. Curabitur ut augue arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis hendrerit, lacus non aliquam sagittis, dui odio tristique felis, sit amet consequat elit neque nec justo. Nulla id viverra est, sit amet efficitur neque.</p>

    </div>

</body>

</html> -->

<!-- <html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html> -->
<!-- <header class="v-header container">
  <div class="full-screen-video-wrap">
    <video src="video1.mov" autoplay="true" loop="true"></video>
  </div>
  <div class="header-overlay"></div>
  <div class="header-content">
    <h1>hellow world</h1>
    <p>Hey guys,this is a personal blog page where I put my views on almost every trending topic.
      We generally busy living our life in a very small space of this huge world.
      I try to cover all the amazing things and all the latest information of this ever 
      changing world.
      Thank You.🤟
    </p>
    <a href="/blogs" class="btn">Blogs</a>
  </div>
</header> -->